@page
@model BBFWebApp.Pages.RolesModel
@{
    <h1>Roles</h1>
    <h4>Big Bois CEO</h4>
    <h4>BBF Administrator</h4>
    <h4>Lofi Radio</h4>
    <h4>MEE6</h4>
    <h4>Big Bois Memeber</h4>
    <h4>BBF Bots</h4>
    <h4>BBF DJ</h4>
    <h4>PokéMeow</h4>
}
