@page
@model BBFWebApp.Pages.RolesModel
@{
    <h1>Roles</h1>
    <h2>Big Bois CEO</h2>
    <h2>BBF Administrator</h2>
    <h2>Lofi Radio</h2>
    <h2>MEE6</h2>
    <h2>Big Bois Memeber</h2>
    <h2>BBF Bots</h2>
    <h2>BBF DJ</h2>
    <h2>PokéMeow</h2>
}
